@import url("https://use.typekit.net/uzy7ztd.css");

@media (min-width: 992px) {
    body {
    max-width: 768px;
    margin: auto;
    }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    body {
    max-width: 500px;
    margin: auto;
    }
    }
    @media (max-width: 991px){
        .reticula{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 767px) {
    body {
    padding-left: 5px;
    padding-right: 5px;
    }
}

.como-citar {
    font-family: "degular-text", sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-align: right;
    grid-column: 3;
    word-break: break-word;
    margin-top: 5px;
    margin-bottom: 0px;
    
}

.titulo-principal {
    font-family: "neue-haas-grotesk-display", sans-serif;
   overflow-wrap: break-word;
    line-height: 45px;
   font-weight: 600;
    font-size: 40px;
	text-align: center;
    margin-top: 80px;
}

.autor {
    font-family: "degular-text", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 25px;
   
}

.info-autor {
    font-family: "degular-text", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 2px;
    line-height: 1.2em;
}

.recibido-aceptado{
    font-family: "degular-text", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 25px;
    line-height: 1.6em;
    word-break:initial;
}

.sin-recibido {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: left;
    margin-top: 50px;
}

.titulos-sin-recibido {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;  
    line-height: 1.2rem;
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: left; 
}

.titulos {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;  
    line-height: 1.2rem;
    margin-bottom: 25px;
    margin-top: 35px;
    text-align: left; 
}

.subtitulos {
	font-family:"neue-haas-unica", sans-serif;
	font-size:16px;
	font-weight: 500;
	line-height:1.2em;
	text-align:left;
	margin-bottom: 10px;
}
.cuerpo {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: left;
}

.citaciones {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 14px; 
    font-weight: 400px;
    line-height: 1.6em;
    margin-bottom: 2%;
    margin-left: 40px;
    margin-top: 0;
    text-align: justify;
    text-align-last: left; 
}

.citaciones-corta {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 14px; 
    font-weight: 400px;
    line-height: 1.6em;
    margin-bottom: 25px;
    margin-left: 320px;
    margin-top: 50px;
    text-align: justify;
    text-align-last: left; 
}

.pie-imagen {
    font-family: "degular-text", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;  
}

.pie-texto {
font-family: "degular-text", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.6em;
text-align: left;
}

.bibliografia {
    font-family: "degular-text", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.6em;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1%;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 0%;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-indent: 0px; 
    left: auto;
    width: auto;
}

.imagen-articulo{
    max-width: 100%;

}

.imagen-articulo-2{
    max-width: 100%;
    margin-top: 35px;

}

.imagen-articulo-3{
    max-width: 100%;
    margin-top: 10px;

}

img.logo{
    max-width: 9em;
    grid-column: 1;
}

.imagen-reticula{
 max-width: 100%;
}


#figura1{
    text-align: center;
}

#imagen-historica{
    max-width: 500px;

}


ul{
padding-left: 0px;
list-style-type: none;
}

ol{
    padding-left: 26px;
}

.reticula{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 1fr;
    column-gap: 20px;
    padding-top: 20px;
}

.reticula-2{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr;
    column-gap: 20px;
    padding-top: 20px;
}

.reticula-3{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.4fr 0.6fr ;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 30px;
}

.reticula-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:minmax(18);
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 30px;
}


.anchox2{
    max-width: 100%;
    grid-column: span 2;
}

.anchox3{
    max-width: 100%;
    grid-column: span 3;
}

.altox2{
    max-width: 100%;
    grid-row: span 2;
}

.altoxanchox1{
    max-width: 100%;
    grid-row: span 1;
    grid-column: span 1;
    grid-column: 3;
}

.reticula-imagen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    column-gap: 20px;

}

a {
    word-break: break-word;
    padding: 0px;
    text-decoration: none;
}

sup.notas {
    font-family: "degular-text", sans-serif;
	font-weight: 400px;
    line-height: 0px;
    padding-top: 0px;
}

sup.degular {
    font-family: "degular-text", sans-serif;
	font-size: 10px;
	font-weight: 400;
    line-height: 0px;
    padding-top: 0px;
}

sup.cuerpo{
	font-family: "neue-haas-unica", sans-serif;
    font-size: 10px;
    font-weight: 400px;
    text-align: justify;
    text-align-last: left;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.html{
    padding-bottom: 30px;
}

.max-575{
    display: none;
}

.boton{
    font-family: "neue-haas-unica", sans-serif;
    background-color:black; /* Black */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.seccion-boton{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

a.boton{
    font-family: "neue-haas-unica", sans-serif;
    background-color:black; /* Black */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.5px; 
}

.container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 10px 20px;
}

@media (max-width: 575px){
    .reticula{
        grid-template-columns: 1fr 1fr;
    }
	.reticula-2{
        grid-template-columns: 1fr 1fr;
    }
    .cuerpo{
        text-align: left;
    }
    .citaciones{
    text-align: left;
    }
    .sin-recibido{
        text-align: left;
    }
    .max-575{
        display: block;
    }
    }
@media (max-width: 420px){
    .reticula{
    grid-template-columns: 1fr;
    }
   .reticula-2{
    grid-template-columns: 1fr;
    }
    .como-citar{
    grid-column: 1;
    }
}