@import url("https://use.typekit.net/uzy7ztd.css");

.como-citar{
    font-family: "degular-text", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: right;
    grid-column: 3;
    word-break: break-word;
}

.titulo-principal {
    font-family: "neue-haas-grotesk-display", sans-serif;
   overflow-wrap: break-word;
    line-height: 45px;
   font-weight: 600;
    font-size: 40px;
	text-align: center;
    margin-top: 80px;
}

.autor {
    font-family: "degular-text", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-top: 25px;
   
}

.info-autor {
    font-family: "degular-text", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 2px;
    margin-top: 2px;
    line-height: 1.2em;
}

.recibido-aceptado{
    font-family: "degular-text", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 25px;
    line-height: 1.6em;
    word-break:initial;
}

.titulos {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;  
    line-height: 1.2rem;
    margin-bottom: 25px;
    margin-top: 35px;
    text-align: left; 
}

.subtitulos {
	font-family:"neue-haas-unica", sans-serif;
	font-size:16px;
	font-weight: 500;
	line-height:1.2em;
	text-align:left;
	margin-bottom: 10px;
}
.cuerpo {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    text-align-last: left;
}

.citaciones {
    font-family: "neue-haas-unica", sans-serif;
    font-size: 14px; 
    font-weight: 400px;
    line-height: 1.6em;
    margin-bottom: 2%;
    margin-left: 40px;
    margin-top: 0;
    text-align: justify;
    text-align-last: left; 
}


.pie-imagen {
    font-family: "degular-text", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;  
}

.pie-texto {
font-family: "degular-text", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.6em;
text-align: left;
}

.bibliografia {
    font-family: "degular-text", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.6em;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 1%;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 0%;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-indent: 0px; 
    left: auto;
    width: auto;
}

.imagen-articulo{
    max-width: 100%;

}

#figura1{
    text-align: center;
}

ul{
padding-left: 0px;
list-style-type: none;
}

ol{
    padding-left: 26px;
}

img.logo{
    max-width: 9em;
    grid-column: 1;
}

.reticula{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 1fr;
    column-gap: 20px;
    padding-top: 20px;
}

a {
    word-break: break-word;
    padding: 0px;
    text-decoration: none;
}

sup.notas {
    font-family: "degular-text", sans-serif;
	font-weight: 400px;
    line-height: 0px;
    padding-top: 0px;
}

sup.degular {
    font-family: "degular-text", sans-serif;
	font-size: 10px;
	font-weight: 400;
    line-height: 0px;
    padding-top: 0px;
}

sup.cuerpo{
	font-family: "neue-haas-unica", sans-serif;
    font-size: 10px;
    font-weight: 400px;
    text-align: justify;
    text-align-last: left;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.html{
    padding-bottom: 30px;
}

.max-575{
    display: none;
}

@media (min-width: 992px) {
    body {
    max-width: 768px;
    margin: auto;
    }
    }
    @media (min-width: 768px) and (max-width: 991px) {
    body {
    max-width: 500px;
    margin: auto;
    }
    }
    @media (max-width: 991px){
        .reticula{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 767px) {
    body {
    padding-left: 5px;
    padding-right: 5px;
    }
}

@media (max-width: 575px){
    .reticula{
        grid-template-columns: 1fr 1fr;
    }
    .cuerpo{
        text-align: left;
    }
    .citaciones{
    text-align: left;
    }
    .recibido-aceptado{
    display: block;
    }
    .max-575{
        display: block;
    }
    .cuerpo{
        margin: auto;
    }
    }
@media (max-width: 420px){
    .reticula{
    grid-template-columns: 1fr;
    }
    .como-citar{
    grid-column: 1;
    }
}

